body {
    /*background-image: url("the_most_beautiful_road_in_the_world_2-wallpaper-1366x768.jpg");*/
    background-color: #cccccc;
    color: #fff;
    font-family: 'Ubuntu';
    text-shadow: 3px 3px #C0C0C0;
}

.parent {
    display: grid;
    place-items: center;
    width: inherit;
    height: 90vh;
}

.child {
    padding: 0.5rem;
    border-radius: 10px;
    text-align: center;
}

#clock {
    /*font-weight: bolder;*/
    font-size: 6rem;
}

#greet {
    font-size: 3rem;
}